section.section.section--partner.partner
  .section__content.section__content--full-width.section__content--centered
    h2.partner__title
      | Our great partners in crime

      .partner__level
        .partner__level__logos
            a.partner__level__logos__link(href="https://developers.google.com/programs/community/stories/angularbeers", title=AngularBeers, target="_blank", class="partner__level__logos__link")
              img(src="/images/partner/angular-beers.png", alt=AngularBeers, class="partner__level__logos__image")

section.section.section--sponsors.sponsors
  .section__content.section__content--full-width.section__content--centered
    h2.sponsors__title
      | Great companies

    each level in ['Gold', 'Silver', 'Bronze']
      - var levelSponsors = sponsors.filter(sponsor => sponsor.level === level);

      if levelSponsors && levelSponsors.length > 0
        .sponsors__level
          h4.sponsors__level__name= level
          .sponsors__level__logos
            each sponsor in levelSponsors
              a.sponsors__level__logos__link(href=sponsor.url, title=sponsor.name, target="_blank", class="sponsors__level__logos__link--"+level)
                img(src="/images/sponsors/"+sponsor.image, alt=sponsor.name)

  footer.section__call-to-action
    a(href="/sponsors/", title="More about our sponsors").button.button--small More about our sponsors
